  .animaSection {
    perspective: 1000px;
    perspective-origin: center; 

    margin-bottom: 20px;
  }
  
  .animaElement {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  
    width: 100%;
    // max-width: calc(100vw / 2);
    height: 50px;
    margin: 0 auto;
  
    border-radius: 4px;
    backdrop-filter: blur(2px);

    // outline: 2px solid var(--text-color);
    box-shadow: inset 0 0 7px #b6b5b5, 0px 2px 1px rgba(16, 16, 24, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }
  
  .animaDate {
      display: flex;
      justify-content: center;
      align-items: center;
  
      font-size: 34px;
      background: none;
      min-width: 100px;
      height: 50px;
      border-radius: 4px;
      
      margin: 0 auto;
      color: var(--body-color);
      
  }
  
  @media only screen and (min-width: 1200px){
      .animaDate {
          font-size: 44px;
      }
  }
  
  .timeProgress {
      /* position: absolute; */
      justify-content: center;
      align-items: center;
  
      background: conic-gradient(var(--main-text-color) 10deg, rgba(255, 255, 255) 0deg);
      min-width: 68px;
      height: 68px;
      border-radius: 50%;

    //   transition: conic-gradient, 300ms;

      box-shadow: inset 0 0 7px #b6b5b5, 0px 2px 1px rgba(16, 16, 24, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }

  .animaTime {
      position: absolute;
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    //   left: calc(50vw - 54px);


      background: var(--button-color);
      font-size: 18px;
      outline: 2px solid var(--text-color);
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin: 0 auto;
      color: var(--text-color);
  }
  
  .animaYear {
      display: flex;
      justify-content: center;
      align-items: center;
  
      font-size: 34px;
      background: none;
      min-width: 100px;
      height: 50px;
      border-radius: 4px;
      margin-left: auto;
      margin-right: auto;

      color: var(--body-color);
  }
  
  @media only screen and (min-width: 1200px){
      .animaYear {
          font-size: 44px;
      }
  }
  
  .animaTitle {

      font-size: 24px;
      text-align: center;
      color: var(--body-color);

      margin-bottom: 10px;
  }
