button {
      
    border: none;
    border-radius: 6px;

    padding: 5px;

    transition: background-color, 400ms;
     
 }

 button:hover {
                 
     background-color: rgba(194, 212, 31, 0.801);
     
 }