.container {

    padding: 70px 0;
    
    .hero {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        gap: 20px;

        padding: 20px;
        margin-bottom: 20px;

        background: url(../../images/hero/blue-abstract-bokeh-lights-picjumbo-com.jpg);
        background-size: cover;
        
        border-radius: 6px;

        height: 200px;

    }

    .heroCommunity {
        background: url(../../images/hero/evening-sunset-abstract-blue-city-lights-bokeh-picjumbo-com.jpg);
        background-size: cover;
    }
}

